*{
    outline: none;
}
html{
    overflow-x: hidden;
}
body{
    background: #F7FCFF;
    overflow-x: hidden;
}
header{
    background: linear-gradient(180deg, #1995F0 0%, #0072C6 100%);
    padding: 20px 0;
    border-bottom: 1px solid #249ef7;
}
p, a, span, button, label, small, textarea, select, option, em, strong {
  font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.header-slogan{
    color: #FFF;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    gap: 0 10px;
}
.color-purple{
    color: #D023E8;
}
#hero{
    background: url(../img/hero.jpg) top center repeat-x;
    height: 625px;
    display: flex;
    overflow: hidden;
}
#hero h1{
    color: #FFFFFF;
}
#hero h1 span{
    font-family: 'Montserrat', sans-serif;
    color: #D023E8;
    margin-bottom: 1em;
}
#hero p{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 1.5em;
}
#hero .btn{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #e33cff 0%, #9a0cb3 100%);
    border-radius: 6px;
    padding: 12px 1.5em;
    font-size: 18px;
    font-weight: bold;
    border:0;
}
#hero .btn:hover{
    box-shadow: 0px 1px 19px #c434dd;
}
.hero-call-action-img img{
    position: relative;
    bottom: -23px;    
}
.default-title{
    font-weight: bold;
    color: #0180DE;
}
.section-spacing{
    padding-top: 3em;
    padding-bottom: 3em;
}
p{
    font-size: 20px;
    color: #434343;
}
.card-ai{
    border-radius: 10px;
    overflow: hidden;
    background: #FFFFFF;
    margin-bottom: 2em;
    border: 1px solid #e2f4ff;
}
.card-ai:hover{
    box-shadow: 4px 4px 11px #dff3ff;
}
.card-ai-image{
    background: #EAEAEA;
}
.card-ai-image img{
    width: 100%;
    max-height: 325px;
    object-fit: cover;
}
.card-ai-image img:hover{
    cursor: pointer;
}
.card-ai-bottom{
    padding: 0.5em 1em 0.1em 1em;
    text-align: center;
    min-height: 170px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.card-ai-name h3{
    color: #0180DE;   
    font-size: 20px;
    margin-bottom: 0.2em;
}
.card-ai-job span{
    font-size: 16px;
    color: #434343;   
}
.card-ai .btn{
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    width: 100%;    
    padding: 12px;
    margin-top: 0.5em;
}
.chat-background{
    background: #FFF;
    border:1px solid #E0E4E7;
    border-radius: 10px;
    overflow: hidden;
}
.ai-contacts-item-active{
    background: #E6F1FA;
}
.ai-contacts-item:hover{
    cursor: pointer;
}

.ai-contacts-top, .ai-chat-top{
    padding: 1em;
    border-bottom: 1px solid #E0E4E7;
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ai-contacts-top strong{
    font-size: 18px;
    color: #0072C6;
    font-weight: bold;
    display: block;
}
.ai-contacts-top span{
    font-size: 18px;
    color: #434343;
    display: block;
}
.ai-contacts-scroll{
    overflow-y: auto;
    height: 696px;
}
.ai-contacts-scroll::-webkit-scrollbar {
  width: 4px; 
}
.ai-contacts-scroll::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}
.ai-contacts-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.ai-contacts-scroll::-webkit-scrollbar-track {
  background-color: #eee; 
}
.ai-contacts-scroll::-webkit-scrollbar-track:hover {
  background-color: #ddd; 
}

.ai-contacts-item{
    padding: 1em;
    display: flex;
    gap:1em;
    align-items: center;
    border-bottom: 1px solid #ebf7ff;
}
.ai-contacts-item:hover{
    background: #f3f3f3;
}
.ai-contacts-item-active:hover{
    background: #E6F1FA;
}
.ai-contacts-name{
    color: #070707;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;    
}
.ai-contacts-job{
    color: #7E7E7E;
    font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;    
}
.ai-contacts-image{
    overflow: hidden;
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
}
.ai-contacts-image img{
    width: 100%;
}
.col-contacts-border{
    border-right: 1px solid #E0E4E7;
}
.col-main-chat{
    box-shadow: -13px 0px 13px #087dd414;
}
.wrapper-ai-chat-top{
    display: flex;
    gap: 0 16px;
    align-items: center;
}
.ai-chat-top-image{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    background: #0579ce;
}
.ai-chat-top-image img{
    width: 100%;
}
.ai-chat-top-name h4{
    color: #0072C6;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
.ai-chat-top-job{
    display: block;
    font-size: 16px;
    color: #0E0E0E;
}
.online-bullet{
    background: #02D00A;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}
.icons-options .dropdown-toggle{
    padding: 0;
}
.icons-options{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
}
.icons-options img{
    padding: 0 4px;
}
.icons-options img:hover{
    cursor: pointer;
}
.chat-frame{
    background: url(../img/chat-pattern.png) #F3F3F3;
    padding-left: 1em;
}
.conversation-thread{
    display: flex;
    gap: 16px;
    align-items: flex-end;
    margin:1.5em 0;
    position: relative;
}
.user-image{
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.user-image img{
    width: 100%;
}
.message-container{
    background: #FFF;
    border-radius: 15px;
    padding: 1.2em;
    min-width: 310px;
    position: relative;
}
.thread-ai .message-container{
    margin-right: 7em;
    border-bottom: 4px solid #e3e3e3;
}
.thread-user{
        justify-content: flex-end;
}
.thread-user .message-container{
    background: #E3F3FF;
    border-bottom: 4px solid #baccd9;
}
.thread-user .message-text::before{
    display: none;
}
.chat-response{
    white-space: pre-wrap;
}
.message-container .user-name h5{
    font-size: 18px;
    font-weight: bold;
    color: #0072C6;
    margin-bottom: 0.3em;
}
.chat-response{
    font-family: 'Nunito Sans', sans-serif;
}
.message-container .message-text{
    color: #2c2c2c;
    font-size: 16px;
    position: relative;
}
.message-container::before{
    content: '';
    position: absolute;
    bottom: 13px;
    left: -9px;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
}
.date-chat{
    font-size: 14px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #787878;
}
.date-chat img{
    height: 14px;
}
#overflow-chat {
    overflow-y: auto;
    overflow-x: hidden;
    height: 550px;
    padding-right: 1em;
}
.message-area-bottom{
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #E0E4E7;
    padding: 1em;
    position: relative;
}
.character-typing{
    position: absolute;
    z-index: 2;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.character-typing div{
    background: #2e2e2ede;
    text-align: center;
    border-radius: 6px;
    color: #FFF;
    padding: 6px 16px;
    font-weight: 300;
    display: inline-block;
    font-size: 16px;  
}
.chat-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.chat-input textarea{
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #E0E4E7;
    resize: none;
    border-radius: 10px;
    color: #4E4E4E;
    display: flex;
    padding: 0.5em 1em;
    font-size: 18px;
}
.chat-input textarea:focus{
    border: 1px solid #a5d8ff;
}

.btn-send-chat, .btn-cancel-chat{
    background: linear-gradient(180deg, #1995F0 0%, #0072C6 100%);
    border-radius: 8px;
    padding: 1em 1.5em;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.btn-send-chat:hover{
    background: linear-gradient(180deg, #0067b3 0%, #0072C6 100%);
}
.btn-cancel-chat{
    background: linear-gradient(180deg, #db2020 0%, #c50d00 100%);
}
.btn-cancel-chat:hover{
    background: #ff3434;
}
#overflow-chat::-webkit-scrollbar {
  width: 8px; 
}
#overflow-chat::-webkit-scrollbar-thumb {
  background-color: #1995f0; 
  border-radius: 5px; 
}
#overflow-chat::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
#overflow-chat::-webkit-scrollbar-track {
  background-color: #eee; 
}
#overflow-chat::-webkit-scrollbar-track:hover {
  background-color: #ddd; 
}
#toast-container>div{
    opacity: 1;
}
#toast-container>div:hover{
    box-shadow: none !important;
}
.toast{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.copy-code, .copy-text{
    position: absolute;
    top: 6px;
    font-size: 14px;
    color: #0478cd;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    padding: 0.3em 0.6em;
    gap: 0 5px;
}
.copy-code{
    background: transparent;
    color: #FFF;
    border: 1px solid #EAEAEA;
    border-radius: 7px;        
}
.copy-text{
    background: transparent;
    top: auto;
    bottom: 13px;
    border: 1px solid #2196f3;
    font-size: 14px;
    color: #0478cd;
    border-radius: 8px;
    right: 11px;
}
.copy-text:hover{
    background: #017cb4;
}
.copy-text:hover{
    background: transparent;
    cursor: pointer;
    color: #0478cd;
}
.no-white-space{
    white-space: inherit;
}
.chat-audio{
    position: absolute;
    right: 15px;
    top: 16px;   
}
.chat-audio img{
    height: 24px;
}
.chat-audio img:hover{
    cursor: pointer;
}
.copy-text{
    display: none;
}
.message-container:hover .copy-text{
    display: block;
}    
.chat-response-highlight{
    background: #03a9f4;
    color: #FFF;
}
.header-min{
    padding: 10px;
}
.header-min #logo{
    height: 50px;
}

.no-white-space{
    white-space: inherit;
}
.expire-img-message{
    background: #2196f3;
    padding: 7px;
    border-radius: 7px;
    margin-top: 1em;
    font-size: 14px;
    color: #fff;
}

#loading{
    background: linear-gradient(180deg, #1995F0 0%, #0072C6 100%);    position: fixed;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
#loading .spinner{
    width: 100px;
    height: 100px;
}
.wrapper-name-and-chat{
    width: 100%;
}
.wrapper-image-ia{
    position: relative;
    border: 1px solid #EAEAEA;
    padding: 1em;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    min-height: 300px;
}

.image-ia{
    background-color: #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-ia img{
    object-fit: cover;
    width: 100%;
}

/* width */
.wrapper-image-ia::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.wrapper-image-ia::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.wrapper-image-ia::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.wrapper-image-ia::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.ia-image-prompt-label{
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    color: #2196f3;
    display: block;
    border: 1px solid #2196f3;
    margin-top: 6px;
}
.wrapper-image-ia svg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(3.5);
}
#load-character{
    padding-bottom: 4em;
}
code{
    white-space: pre-wrap;
    border-radius: 8px;
}
pre{
    border-radius: 8px;
    border: 2px solid #9c27b0;
    color: #d5d5d5;
    background: #1d2021;
    margin: 0;
    position: relative;
    padding: 0.5em 1em;
}
.dropdown-item{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0 5px;
}
.thread-user .message-container::before{
    display: none;
}
footer{
    background: linear-gradient(180deg, #1995F0 0%, #0072C6 100%);
    padding: 20px 0;
    border-top: 1px solid #249ef7;    
}
footer img:hover{
    cursor: pointer;
}
.cursor {
  display: inline-block;
  width: 0.2em;
  height: 1.2em;
  margin-left: 0.2em;
  background-color: #323232;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#microphone-button{
    height: 60px;
}
#microphone-button:hover{
    cursor: pointer;
}
.col-options-input{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
.form-floating{
    width: 100%;
    padding-bottom: 7px;
}
.form-floating>label{
    color: #0478ce;
    font-weight: bold;
    opacity: 1 !important;    
}
.btn-options-input{
    display: none;
}
.theme-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;    
}
.theme-icon i{
    color: #FFF;
}
.theme-icon:hover{
    cursor: pointer;
}
/*/ Small devices (landscape phones, 576px and up)/*/
@media (max-width: 767px){
    .btn-options-input{
        background: #0072c6;
        position: absolute;
        right: 20px;
        width: 50px;
        height: 35px;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -36px;
        border-radius: 10px 10px 0 0;
    }    
    .form-floating{
        display: none;
    }
    .arrow-down {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #FFFFFF;
     transform: rotate(0deg);
    }    
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #FFFFFF;
     transform: rotate(180deg);
    }       
   .col-options-input{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 64px;
        left: 0;
        padding: 11px;
        background: #FFF;
        border-top: 2px solid #0072c6;
        z-index: 10;
        box-shadow: 0 -26px 21px -5px #0180de42;
        width: 100%;
    }    
    .character-typing {
        top: -42px;
        right: auto;
        margin: initial;
    }    
    .character-typing div{
        font-size: 14px;
        padding: 4px 16px;
    }
    #microphone-button{
        height: 45px;
    }    
    .ai-chat-top-name h4{
        font-size: 16px;
    }
    .ai-chat-top-job{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;         
    }
    .col-main-chat{
        box-shadow: none;
        border:none;
    }
    .ai-contacts-top{
        display: none;
    }
    .ai-contacts-top{
        border:0;
        display: none;
    }
    footer{
        display: none;
    }
    .toggle_employees_list, .ai-contacts-scroll{
        display: none;
    }
    .icons-options img {
        padding: 0 2px;
    }    
    body{
        background: url(../img/chat-pattern.png) #F3F3F3;
    }
    .chat-frame, .chat-background{
        background: transparent;
        border:0;
    }
    .ai-contacts-top, .ai-chat-top{
        min-height: auto;
    }
    #overflow-chat{
        padding-right: 10px;
        padding-left: 10px;
        height: auto;
        padding-bottom: 7em;
        padding-top: 5em;
    }
    .copy-text{
        display: block;
    }
    .user-image {
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -15px;
        z-index: 1;
        left: -9px;
    }    
    .thread-ai .message-container{
        margin-right: 0;
    }
    .message-area-bottom{
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #FFF;
        z-index: 2;
        box-shadow: 1px -6px 58px 1px #0069b778;
    }
    .chat-input textarea{
        padding:5px;
        font-size: 16px;
        height: 46px;
        border-radius: 3px;
    }
    .chat-input{
        gap:10px;
    }
    .btn-send-chat, .btn-cancel-chat{
        padding: 0.6em 1em;
        font-size: 16px;        
        border-radius: 3px;
    }
    .message-area-bottom{
        padding: 0.5em;
    }
    .btn-send-chat span, .btn-cancel-chat span{
        display: none;
    }
    .header-min{
        display: none;
    }
    .col-contacts-border{
        display: none;
    }
    .ai-chat-top-image{
        min-width: 45px;
        width: 45px;
        height: 45px;
    }
    .ai-chat-top{
        top:0;
        padding: 0.5em;
        position: fixed;
        z-index: 2;
        background: #FFF;
        border-radius: 0;
        width: 100%;
        box-shadow: 1px 1px 14px 3px #ccc;
    }
    .card-ai-bottom {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    #hero .btn{
        font-size: initial;
    }
    .card-ai-image img{
        max-height: initial;
    }
    .card-ai .btn{
        padding: 8px;
    }
    #hero p{
        padding-right: 0;
    }
    #hero{
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3em;
        text-align: center;
        height: auto;
    }
    .hero-call-action-img img{
        width: 100%;
    }
    .justify-content-sm-center{
        justify-content: center!important;
    }
    .header-slogan{
        margin-top: 10px;
    }
    #hero p{
        font-size: inherit;
    }
    .container{
        max-width: 100%;
    }     
}

/*/ Medium devices (tablets, 768px and up)/*/
@media (min-width: 768px) and (max-width: 991px){
    .form-floating{
        display: flex;
    }
    #microphone-button{
        height: 45px;
    }    
    .container{
        max-width: 90%;
    }
    .card-ai-image img{
        max-height: initial;
    }
    .card-ai .btn{
        padding: 8px;
    }
    #hero p{
        padding-right: 0;
    }
    #hero{
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3em;
        text-align: center;
        height: auto;
    }
    #chat-background .container{
        max-width: 100%;
    }
    .col-contacts-border{
        display: none;
    }
    .copy-text{
        display: block;
    }

}

/*/Large devices (desktops, 992px and up)/*/
@media (min-width: 992px) and (max-width: 1199px) {
    .form-floating{
        display: flex !important;
    }    
    #hero p{
        padding-right: 4.5em;
    }
    .ai-contacts-job{
    -webkit-line-clamp: 1;
    }
    .card-ai-image{
        min-height: 230px;
    }        
    #microphone-button{
        height: 45px;
    }    
}

/*/ X-Large devices (large desktops, 1200px and up)/*/
@media (min-width: 1200px) and (max-width: 1399px){
    .form-floating{
        display: flex !important;
    }    
    .card-ai-image{
        min-height: 280px;
    }
}

/*/// XX-Large devices (larger desktops, 1400px and up)/*/
@media (min-width: 1400px) {
    .form-floating{
        display: flex !important;
    }    
    .card-ai-image{
        min-height: 300px;
    }
}